.card-post{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.card-image{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.card-title{
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    padding: 0 0 0.5rem 0;
}
.card-description{
    position: absolute;
    padding:  0.5rem 1rem;
    bottom: -3rem;
    left: 50%;
    width: 90%;
    height: 35%;
    transform: translateX(-50%);
    padding-bottom: 1rem;
    background-color: white;
}
.card-paragraph{
    color: rgb(50, 50, 50);
    font-size: 0.7rem;
    line-height: 1.5;
    text-align: center;
    padding: 0.5rem 0.5rem;
    max-height: 70%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    font-weight: 700;
}

.date-field{
    position: absolute;
    bottom: 1rem; 
    right: 1rem; 
    /* width: 2rem;
    height: 1rem; */
}