.hero-section {
  display: block;
  width: 100vw;
  height: min-content;
  border: thick solid red;
  margin-bottom: 7rem;
}
.hero-grid {
  padding: 3rem 5rem;
  border: thick solid green;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.hero-grid > .article-post{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  border: thick solid red;
}
.hero-grid > div{
  grid-column-start: 5;
  grid-column-end: -1;
  border: thick solid green;
  display: flex;
  flex-direction: column;
}
div > .article-post{
  max-width: 100%;
}

@media (min-width: 992px) {
  .hero-grid {
      padding: 3rem 5rem;
      border: thick solid green;
      max-height: 100vh;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(1, 35rem);
  }
}
