.section-recent-post-wrapper {
  background: linear-gradient(180deg, transparent 65%, #d7e5d9 65%);
  padding: 2rem 0 0 
}

.section-recent-post {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 3rem;
}
.author-title {
  text-align: center;
}
.author-paragraph {
  padding: 1.5rem 1rem;
}
