html {
  box-sizing: border-box;
}
*,
*::after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
img{
  max-width: 100%;
}
li{
  list-style-type: none;
}
.container{
  max-width: 	960px;
  margin-left: auto;
  margin-right: auto;
}


.container-m{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}